*,
*::before,
*a::after {
    font-family: 'open sans''sans-serif';

}


.input-container {

    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;


}

.input-container>form {
    width: 600px;
    height: 40px;
    outline: 1px solid rgb(81, 67, 165);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;



}

form>input {

    border: none;
    outline: none;
    padding: 16px 10px;
    width: 100%;
    margin-right: 2px;
    font-size: 16px;
    height: 50%;

}

/* Style the input button*/
input[type="submit"] {
    display: inline-block;
    background-color: #33BE27;
    padding: 15px;
    border: none;
    outline: none;
    width: 30%;
    text-align: center;
    height: 100%;
    color: #000;
    margin-right: 0;

}

input[type="submit"]:hover {
    cursor: pointer;

}


form>i {

    cursor: pointer;
    margin-left: 5px;

}

.error-container {

    display: flex;
    justify-content: center;

}


.error-message {
    padding: 10px;
    border-radius: .25rem;
    display: none;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    margin-bottom: 2rem;
}



.card-grid {

    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 0.5rem;
    grid-row-gap: 2.5rem;
    align-items: flex-start;


}


.hero-card {
    --padding: 1rem;
    background: #FFF;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 5px 0 #000;
    border-radius: .25rem;
    overflow: hidden;


}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    padding: var(--padding);
    padding-bottom: 0;

}

/* Use this to mage the first card long */
.hero-card.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: span 2;
}



/* This will be used for display a hero image next the card detail */

.card-detail {
    font-size: 1rem;
    padding: 0 var(--padding);
}

.hero-name,
.comic-name {
    display: block;
    padding: var(--padding);
    font-size: 25px;


}

.hero-img {

    background: #FFF;
    border: none;
    box-shadow: 0 2px 5px 0 #000;
    border-radius: .125rem;



}

.img-body {
    overflow: hidden;
    padding: 0px;

}

.img-body>img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    max-height: 240px;
    object-position: center;

}



.card-header.card-image {

    overflow: hidden;
    padding: 0;
    margin-bottom: -20px;
}

.card-header.card-image>img {
    display: block;
    width: 100%;

    object-fit: cover;
    margin-bottom: .5rem;
    object-position: center;
    max-height: 600px;



}

span {
    display: block;
}


.card-footer {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding: 1.5rem var(--padding);
    padding-top: 1rem;
    margin-bottom: 0;
    background-color: rgb(209, 183, 69);


}


.span-label {
    display: block;
    margin-top: var(--padding);
}

.preloader {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -30px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-right: 2px solid coral;
    border-top: 2px solid transparent;
    animation: spinner 0.7s linear infinite;

}

@keyframes spinner {

    to {
        transform: rotate(360deg);
    }


}